@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #fef4e9; 
  --foreground: #1a1a1a;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #fef4e9; /* Dark Gray for dark mode */
    --foreground: #f5f5f5;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
